.banner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: var(--color-background-2);
  border-radius: var(--border-radius);
  padding: 1rem;
  width: 80%;
  margin: 0 auto 2rem auto;

  & svg {
    color: var(--color-warning);
  }

  @media(max-width: 768px) {
    flex-flow: column nowrap;
  }

  @media print {
    display: none;
  }
}
