.wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: stretch;
  gap: 2rem;
  width: 100%;
  height: auto;
  flex-grow: 1;

  @media(max-width: 768px) {
    flex-wrap: wrap;
  }
}

.editor, .preview {
  flex-grow: 1;
  width: 50%;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--color-secondary);
  overflow: hidden;
}

.editor {
  & form {
    width: auto;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }

  & .submit {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    & p {
      flex-grow: 1;
      margin: 0;
    }
  }

  & input, textarea {
    resize: none;
    border: none;
    outline: none;
    box-shadow: none;
    overflow: auto;
    background: none;
    flex-grow: 1;
    width: auto;
    height: auto;
  }

  & textarea {
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    padding: 1rem;
    font-family: var(--font-fira-code), monospace;
  }

  & label {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    & strong {
      width: 5rem;
    }

    & span {
      flex-grow: 1;
      cursor: pointer;
    }
  }

  & input[type="file"] {
    display: none;
  }

  & input[type="text"] {
    border-bottom: 1px solid var(--color-primary);
    transition: border-bottom-color 0.1s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      border-bottom: 1px solid var(--color-active);
    }
  }
}

ul.fileExtra {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  align-items: stretch;

  & li {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    margin: 0;
    align-items: center;
    justify-content: space-between;

    & button {
      background: none;
      border: none;
      border-radius: 0;
      padding: 0;
    }
  }
}
