ul.comment_tree {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  list-style: none;
  margin-bottom: 0;

  border-left: 2px solid var(--color-background-3);
  border-bottom: 2px solid var(--color-background-3);

  li {
    margin-left: 0;

    padding-left: 1rem;
    padding-bottom: 1rem;
  }
}

.comment_item {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  &:has(+ ul) {
    margin-bottom: 2rem;
  }
}

.user_name {
  font-weight: bold;
}
