:root {
  --color-primary: #171717;
  --color-secondary: #dddddd;
  --color-background: #ffffff;
  --color-active: #1552b1;
  --color-link-background: #cccccc;

  --border-radius: 0.5rem 1rem 0.5rem 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #ededed;
    --color-secondary: #202020;
    --color-background: #0a0a0a;
    --color-active: #cd7920;
    --color-link-background: #303030;
  }
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  hyphens: auto;

  --swiper-theme-color: var(--color-active);
}

body {
  color: var(--color-primary);
  background: var(--color-background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: column nowrap;
}

main {
  flex-grow: 1;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: inherit;
}

img, svg {
  border-radius: var(--border-radius);
  max-width: 100%;
  height: auto;

  &:not(:only-child) {
    width: 50%;

    &:nth-child(odd) {
      float: left;
      margin: 0.5rem 1rem 0.5rem 0;
    }

    &:nth-child(even) {
      float: right;
      margin: 0.5rem 0 0.5rem 1rem;
    }
  }
}

a, button {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.1s ease-in-out;
  padding: 0.5rem 1rem;
  background: var(--color-link-background);
  border-radius: var(--border-radius);
  outline: none;

  &:hover {
    text-decoration: underline var(--color-active);
  }

  &:focus,
  &:active {
    color: var(--color-active);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h1 + h2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  &:before {
    display: inline-block;
    content: "";
    width: 4rem;
    height: 4px;
    background: var(--color-active);
    margin-top: auto;
    margin-bottom: auto;
  }

  @media (max-width: 767px) {
    &:before {
      display: none;
    }
  }
}

h3 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

time {
  color: var(--color-active);
}

ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

li {
  margin-left: 2rem;
}

p {
  margin-bottom: 0.5rem;
}
