:root {
  --color-text: #171717;
  --color-accent: #1552b1;
  --color-success: #1e7d32;
  --color-warning: #cd9310;
  --color-error: #b11e1e;
  --color-background-1: #ffffff;
  --color-background-2: #dddddd;
  --color-background-3: #cccccc;

  --border-radius: 0.5rem 1rem 0.5rem 1rem;
}

@media screen {
  @media (prefers-color-scheme: dark) {
    :root {
      --color-text: #ededed;
      --color-accent: #cd7920;
      --color-success: #4caf50;
      --color-warning: #ffc107;
      --color-error: #ef5350;
      --color-background-1: #0a0a0a;
      --color-background-2: #202020;
      --color-background-3: #303030;
    }
  }
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  hyphens: auto;

  --swiper-theme-color: var(--color-accent);
}

body {
  display: flex;
  flex-flow: column nowrap;

  color: var(--color-text);
  background: var(--color-background-1);
}

main {
  flex-grow: 1;
}

* {
  box-sizing: border-box;

  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;

  padding: 0;
  margin: 0;

  color: inherit;
}

textarea {
  scrollbar-width: thin;
  scrollbar-color: var(--color-background-2) transparent;
}

img, svg {
  border-radius: var(--border-radius);
  max-width: 100%;
}

p > img, p > svg {
  width: 50%;

  &:nth-of-type(even) {
    float: right;
  }

  &:nth-of-type(odd) {
    float: left;
  }
}

a, button {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.1s ease-in-out;
  padding: 0.5rem 1rem;
  background: var(--color-background-3);
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;

  &:focus,
  &:active,
  &:hover {
    text-decoration: underline var(--color-accent);
    color: var(--color-accent);
  }
}

p > a {
  padding: 0;
  background: none;
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h1 + h2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  &:before {
    display: inline-block;
    content: "";
    width: 4rem;
    height: 4px;
    background: var(--color-accent);
    margin-top: auto;
    margin-bottom: auto;
  }

  @media (max-width: 767px) {
    &:before {
      display: none;
    }
  }

  @media print {
    &:before {
      display: none;
    }
  }
}

h3 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

time {
  color: var(--color-accent);
}

ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

li {
  margin-left: 2rem;
}

p {
  margin-bottom: 0.5rem;
}

code {
  font-family: var(--font-fira-code), monospace;
  border-radius: var(--border-radius);
}

.wip-banner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: var(--color-background-2);
  border-radius: var(--border-radius);
  padding: 1rem;
  width: 80%;
  margin: 0 auto 2rem auto;

  & svg {
    color: var(--color-warning);
  }

  @media(max-width: 768px) {
    flex-flow: column nowrap;
  }

  @media print {
    display: none;
  }
}
