.wrapper {
  max-width: 100%;
  border-radius: 1rem 2rem 1rem 2rem;

  & :global(.swiper-wrapper) {
    align-items: stretch;
    justify-content: stretch;
  }

  & :global(.swiper-slide) {
    height: unset;
  }
}

.slide {
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  display: flex;
  flex-flow: column nowrap;
  border-radius: 1rem 2rem 1rem 2rem;
  padding: 2rem 3rem;
  gap: 2rem;

  & div.link {
    margin-top: auto;

    & a {
      display: inline-block;
    }
  }
}
