.wrapper {
  max-width: 100%;
  border-radius: 1rem 2rem 1rem 2rem;

  :global(.swiper-wrapper) {
    align-items: stretch;
    justify-content: stretch;
  }

  :global(.swiper-slide) {
    height: unset;
  }

  @media print {
    border-radius: 0;

    :global(.swiper-wrapper) {
      flex-flow: column nowrap;
      gap: 50px;
    }

    :global(.swiper-slide) {
      margin: 0;
    }

    :global(.swiper-button-prev), :global(.swiper-button-next), :global(.swiper-pagination) {
      display: none;
    }
  }
}
