header.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--color-secondary);
  box-shadow: var(--color-active) 0 0 2rem;
  width: 100%;
  padding: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 1rem 2rem;
  z-index: 10;

  @media (max-width: 767px) {
    padding: 1rem;
    align-items: flex-start;
  }
}

a.home {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  img {
    width: auto;
    height: 4rem;
  }

  @media (max-width: 767px) {
    img {
      height: 2rem;
    }
  }
}

div.right {
  div {
    button {
      display: none;
    }

    @media (max-width: 767px) {
      button {
        display: unset;
      }
    }
  }

  nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 1rem;

    & a {
      display: inline-block;
    }

    li {
      margin: 0;
    }
  }

  @media (max-width: 767px) {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;

    &.close {
      nav ul {
        display: none;
      }
    }

    &.open {
      gap: 1rem;

      nav ul {
        flex-flow: column nowrap;
        align-items: flex-end;
      }
    }
  }
}
