header.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  width: 100%;
  padding: 2rem;
  margin-bottom: 3rem;

  background: var(--color-background-2);
  box-shadow: var(--color-accent) 0 0 2rem;
  border-radius: 0 0 1rem 2rem;

  @media (max-width: 767px) {
    align-items: flex-start;

    padding: 1rem;
  }

  @media print {
    display: none;
  }
}

a.home {
  flex-shrink: 0;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  padding: 1rem;

  img {
    filter: drop-shadow(0 0 0.2rem var(--color-accent));
    width: auto;
    height: 3rem;
  }

  @media (max-width: 767px) {
    img {
      height: 2rem;
    }
  }
}

nav.right {
  flex-shrink: 0;

  button {
    display: none;
  }

  @media (max-width: 767px) {
    button {
      display: unset;
    }
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 1rem;

    & a {
      display: inline-block;
    }

    li {
      margin: 0;
    }
  }

  @media (max-width: 767px) {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;

    ul {
      display: none;
    }

    &.open {
      gap: 1rem;

      ul {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
      }
    }
  }
}
