.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin: 0 auto;
  width: 80%;

  @media print {
    margin: 0.6in;
    width: auto;
  }
}

.slim {
  width: 50%;

  @media (max-width: 767px) {
    width: 80%;
  }
}

.full {
  width: 100%;
}
