.footer {
  background: var(--color-background-2);
  width: 100%;
  padding: 3rem 2rem;
  margin-top: 3rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1rem;

  @media (max-width: 767px) {
    flex-flow: column nowrap;
    padding: 1rem;
  }

  @media print {
    display: none;
  }
}

.links {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  p {
    font-weight: bold;
  }

  nav ul {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    list-style: none;
    appearance: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      a {
        display: inline-block;
      }
    }
  }
}
