.slide {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--color-background-2);
  display: flex;
  flex-flow: column nowrap;
  border-radius: 1rem 2rem 1rem 2rem;
  padding: 2rem 3rem;
  gap: 0.5rem;

  border: 2px solid transparent;

  > a {
    border: none;
    background: none;
    margin: 0;
    padding: 0;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }
  }

  span.content {
    margin-bottom: 1rem;
  }

  span.link {
    margin-top: auto;
    margin-left: auto;
  }

  &:has(>a:hover),
  &:has(>a:active),
  &:has(>a:focus-visible) {
    color: inherit;
    text-decoration: inherit;

    border-color: var(--color-accent);

    h3,
    span.link {
      text-decoration: underline;
    }
  }

  @media print {
    background: none;
    border-radius: 0;
    padding: 0;

    span.link {
      display: none;
    }
  }

}
